h1 {
    text-align: center;
    color: rgb(57, 15, 112);
}


table, td {
    border: 1px soldid  rgb(5, 5, 5);
    margin-left: 450px;
} /*Rahmen und Position für Tabelle*/
thead, td {
    border: 1px solid  rgb(5, 5, 5);
    color: rgb(5, 5, 5);
}

h2{
    color: rgb(5, 5, 5);
    box-sizing: content-box;
    width: 94%padding: 30px;
    border: ridge rgb(5, 5, 5) 10px;
    float: none;
}

#Löwe{

    position: absolute;
    
    width: 100%;
    
    height: "";
    vertical-align: middle;
    
    } /*Bildbreite über ganzen Bildschirm*/

