h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}


table, td {
    border: 1px soldid  rgb(5, 5, 5);
    margin-left:  px700;
} 
thead, td {
    border: 1px solid  rgb(5, 5, 5);
    color: rgb(5, 5, 5);
    /*Rahmen und Position für Tabelle*/
}

h2{
    color: rgb(5, 5, 5);
    box-sizing: content-box;
    width: 88%padding: 30px;
    border: ridge rgb(5, 5, 5) 10px;
    float: none; 
    text-align: center;
    /*Formatierung für Titel h2*/
}

h5{
    text-align: center;
    /*Formatierung für Titel h5*/
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    /*alle Bilder werden auf der Seite zentriert und nehmen 70% des Bildschirms ein*/
}

h1 {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    text-shadow: 4px 4px 5px red;
}

body {
  width: 300px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-family: sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #265301;
}

a:visited {
  color: #437A16;
}

a:focus {
  border-bottom: 1px solid;
  background: #BAE498;
}

a:hover {
  border-bottom: 1px solid;     
  background: #CDFEAA;
}

a:active {
  background: #265301;
  color: #CDFEAA;
}
