h1 {
    text-align: center;
    color: rgb(57, 15, 112);
}


table, td {
    border: 1px soldid  rgb(5, 5, 5);
    margin-left: 300px;
} /*Rahmen und Position für Tabelle*/
thead, td {
    border: 1px solid  rgb(5, 5, 5);
    color: rgb(5, 5, 5);
}

h2{
    color: rgb(5, 5, 5);
    box-sizing: content-box;
    width: 94%padding: 30px;
    border: ridge rgb(5, 5, 5) 10px;
    float: none;
}

h5{
    text-align: center;
}

h2{
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}


