h1 {
    color: rgb(145, 110, 190);
}
table{
    margin-left: 450px;
}
table, td {
    border: 1px soldi #333;
    border
    border-top-width:1px;
    border-right-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-top-style:solid;
    border-right-style:solid;
    border-bottom-style:solid;
    border-left-style:solid;
    border-top-color:#333;
    border-right-color: #333;
    border-bottom-color:#333;
    border-left-color: #333;
}